<h3>El Author de esta aplicación web es: </h3>
<p><%= nombre %></p>
<p><img src="images/miphoto.jpg" alt="Mi Foto" id="miFoto"/></p>
<video id="video" controls>
  <source src="videos/video.mp4" type="video/mp4">
</video>
